html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Maitree', serif;
  background: #f4e6e8;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  font-size: calc(3.6rem + 3vw);
  text-shadow: 2px 2px 3px lightgray;
  margin: 0;
  height: 115px;
}

a {
  text-decoration: none;
}

.orange {
  width: 200px;
  height: 150%;
  background-color: rgb(255, 118, 0);
  position: absolute;
  top: 0;
  left: 60px;
  z-index: -2;
}
.burgundy {
  height: 25%;
  width: 100%;
  position: absolute;
  background-color: #81003c;
  top: 140px;
  z-index: -1;
}

.App {
  text-align: center;
  padding-top: 20px;
  height: 100%;
}
input,
select,
label {
  font-family: 'Montserrat', serif;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
input {
  border: none;
  border: 0.5px black solid;
  border-radius: 2px;
  padding: 2px 5px;
  margin: 3px 0
}
input:focus,
input:hover {
  border: white 1px solid;
  box-shadow: 2px 2px 1px white;
}
select {
  margin: 10px;
  padding: 5px;
  font-size: calc(1rem + 0.5vw);
}
select:focus,
select:hover {
  box-shadow: 2px 2px 5px white;
}
label {
  font-size: calc(1.2rem + 0.7vw);
  padding: 0 10px;
}


.userIncomeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px auto;
  font-weight: 700;
  color: white;
}
.incomeLabelInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0 0 15px;
  font-size: calc(1.8rem + 0.5rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.lineOne {
  margin: 5px 0 0;
  padding: 0;
  font-style: italic;
}
.target {
  margin-top: 50px;
}
.expenses,
.results {
  padding: 10px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-right: 2px #81003c solid;
  border-bottom: 2px #81003c solid;
}

.expense,
.totalExpenses {
  margin: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expense input {
  align-self: flex-end;
}

.totalExpenses {
  padding: 0 10px;
  font-size: calc(1rem + 0.7vw);
  font-weight: 700;
}
.totalExpenses button {
  font-family: 'Montserrat', serif;
  border: none;
  border: #81003c solid 1px;
  border-radius: 2px;
  padding: 5px 10px;
  background: #f4e6e8;
  transition: 0.4s all;
}
.totalExpenses button:hover,
.totalExpenses button:focus {
  background-color: #81003c;
  border: white solid 1px;
  color: white;
}

.results {
  margin: 50px auto;
  padding: 0 10%;
  text-align: center;
  font-size: calc(1.5rem + 0.5vw);
  text-shadow: 1px 1px 1px white;
}
.results p {
  border: 1px black solid;
  padding: 10px 15px;
}
.resultStyle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: calc(1.8rem + 0.6vw)
}

/* Sweet Alerts */

/* .swal2-title {
    font-size: 2rem;
    font-weight: 500px;
} */

.swal2-content {
  font-size: 1.6rem;
}

.sweet2-warning {
  background-color: #81003c;
}

.swal2-actions .swal2-confirm {
    font-size: 1.6rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #81003c;
    padding: 10px 15px;
}

.swal2-actions .swal2-confirm:hover,
.swal2-actions .swal2-confirm:focus {
  cursor: pointer;
}

.swal2-actions .swal2-cancel {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #81003c;
    padding: 10px 15px;
}

.swal2-actions .swal2-cancel:hover,
.swal2-actions .swal2-cancel:focus {
  cursor: pointer;
}


/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
  .expense {
    width: 70%;
  }
}

/* Landscape phones and down */
@media (max-width: 650px) {
  .expense {
    width: 95%;
  }
  select {
    width: 90%;
  }
}

@media (max-width: 460px) {

  .expense {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .totalExpenses {
    margin: 10px 0;
    padding: 0;
    justify-content: space-between;
  }
  .expense input {
    align-self: center;
  }
}